/* Ensure container doesn't overflow horizontally */
.container-fluid {
    overflow-x: hidden;
  }
  
  /* Set smaller font size for tables */
  .table {
    font-size: 0.8rem;

  }
  
  /* Set font size for buttons */
  .btn {
    font-size: 10px; 
    padding: 6px 8px; 
  }
  
  /* Sidebar styling */
  .sidebar {
    background-color: #0d3863;
    color: white;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  /* Profile image inside Sidebar */
  .sidebar img {
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  /* Styling for buttons inside Sidebar */
  .sidebar button {
    margin-top: 20px;
  }
  
  /* Small font for text */
  .small-font {
    font-size: 14px; 
    margin-bottom: 10px;/* Adjust this value to your preference */
  }
  
  /* Custom Table Style */
  .table-custom {
    font-size: 16px; /* Adjust table font size */
    max-width: 100%; /* Ensure table fits the container */
  }
  
  .table-custom th, .table-custom td {
    padding: 20px; /* Adjust padding for better readability */
    text-align: left; /* Optional: Align text to the left */
  }
  
 
  .btn {
    margin: 0 !important;
  }
  
  